<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#btn').click(function(){
                var side = $('#side').val();
                var num = $('#num').val();
                var pinyin = $('#pinyin').val();
               $.get('/search/',{'side':side, 'num':num, 'pinyin':pinyin}, function(data){
                   var result = data.char;
                    $('#result').val(result);
                });
            });
        });
    </script>
</head>
<body>
偏旁<input id="side" name="side"><br>
笔画数<input id="num" name="pinyin"><br>
拼音<input id="pinyin" name="pinyin"><br>
<button id="btn">查询</button>
<br/>
结果：<input id="result">
</body>
</html>